
{% load static %}



{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'bootstrap/css/bootstrap.css' %}>
    <title>登录</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mb-4">用户登录</h2>
                <form method="post" action=".">
                    {% csrf_token %}
                    <!-- 账号 -->
                    <div class="form-group">
                        <label for="username">账号</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <!-- 密码 -->
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        {{ form.captcha.label_tag }}
                        {{ form.captcha }}
                    </div>
                    <!-- 提交按钮 -->
                    <button type="submit" class="btn btn-primary btn-block">登录</button>
                    <div class="col-12">
                        <br>
                        <h5>还没有账号？</h5>
                        <h5>点击 <a href='{% url "userprofile:register" %}'>注册账号</a> 加入我们吧！</h5>
                        <h5>忘记密码了？</h5>
                        <h5>点击 <a href='{% url "password_reset_recover" %}'>这里</a>重置密码</h5>
                    </div>                    
                    </div>
                </form>
            </div>
        </div>
    </div>
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
{##}


<script src="{% static 'jquery/jquery_3.4.1_jquery.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1-lts/dist/umd/popper.min.js"></script>
{#        <!-- <script src="{% static 'popper/1.15.0_umd_popper.js' %}"></script> -->#}

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
{% endblock content %}
