{% extends "base.html" %}
{% load static %}

{% block title %}
首页
{% endblock title %}

{% block content %}
<div class="container mt-2">
    <!-- 上边栏 -->
    <div class="row mb-2 border rounded">
        <div class="col-sm-3 py-2 text-left align-self-left"><strong>名称 </strong></div>
        <div class="col-sm-3 text-left align-self-center"><strong>修改时间 </strong></div>
        <div class="col-sm-2 text-left align-self-center"><strong>类型 </strong></div>
        <div class="col-sm-2 text-left align-self-center"><strong>大小 </strong></div>
    </div>

    <!-- 遍历所有的文件夹 -->
    {% for folder in folders %}
    {% if folder.parent_folder is None and folder.parent_id != -1 %}
    <div class="row mb-2 border rounded">
        <div class="col-sm-3 py-2">
            <h5><a href="{% url 'myfiles:folder_detail' folder.id %}">{{ folder.name }}</a></h5>
        </div>
        <div class="col-sm-3 text-left align-self-center">
            {{ folder.update_time|date:"Y-m-d H:i" }}
        </div>
        <div class="col-sm-2 text-left align-self-center">
            文件夹
        </div>
        <div class="col-sm-4 text-end align-self-center" style="text-align:right">
            <a href="#" class="btn btn-danger" onclick="folder_delete('{{folder.name}}','{{forloop.counter}}')" id="folder_delete_{{forloop.counter}}">删除</a>
        </div>

        <form style="display:none;" id="folder_delete_form_{{forloop.counter}}" action="{% url 'myfiles:folder_delete' folder.id %}"
            method="POST">
            {% csrf_token %}
            <button type="submit">发送</button>
        </form>
    </div>
    {% endif %}
    {% endfor %}

    <!-- 遍历所有的文件 -->
    {% for file in files %}
    {% if file.parent_folder is None and file.parent_id != -1 %}
    <div class="row mb-2 border rounded">
        <div class="col-sm-3 py-2">
            <h5><a href="{% url 'myfiles:file_detail' file.id %}">{{ file.title }}</a></h5>
        </div>
        <div class="col-sm-3 text-left align-self-center">
            {{ file.update_time|date:"Y-m-d H:i" }}
        </div>
        <div class="col-sm-2 text-left align-self-center">
            {{ file.file_extension }}
        </div>
        <div class="col-sm-2 text-left align-self-center">
            {{ file.filesize }}
        </div>
        <div class="col-sm-2 text-right align-self-center" style="text-align: right;">
            <a href='#' onclick="file_download('{{file.file.name}}','{{forloop.counter}}')" id="file_download_{{forloop.counter}}" class="btn btn-success">下载</a>
            <a href="#" class="btn btn-danger" onclick="file_delete('{{file.file.name}}','{{forloop.counter}}')" id="file_delete_{{forloop.counter}}">删除</a>

            <form style="display:none;" id="file_delete_form_{{forloop.counter}}" action="{% url 'myfiles:file_delete' file.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">发送</button>
            </form>

            <form style="display:none;" id="file_download_form_{{forloop.counter}}" action="{% url 'myfiles:file_download' file.id %}"
                method="POST">
                {% csrf_token %}
                <button type="submit">发送</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<script>
    // 删除文件
    function file_download(filename,counter) {
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            // area: ['30%', '20%'], //页面百分比
            shadeClose: true,
            btn: ['下载', '取消'],
            closeBtn: 2,
            // offset: 'auto',

            title: "确认下载",
            content: '<div style="text-align: center; padding: 10px;">是否下载文件<strong>' + filename + '</strong></div>',
            yes: function (index, layero) {
                $('form#file_download_form_'+counter+' button').click();
                layer.close(index);
            }
        })
    }

    function file_delete(filename,counter) {
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            // area: ['30%', '20%'], //页面百分比
            shadeClose: true,
            btn: ['删除', '取消'],
            closeBtn: 2, 
            // offset: 'auto',

            title: "确认删除",
            content: '<div style="text-align: center; padding: 10px;">确认删除文件<strong>' + filename + '</strong>吗？</div> <div style="text-align: center;padding: 10px;">放入回收站30天后将自动删除</div>',
            yes: function (index, layero) {
                $('form#file_delete_form_'+counter+' button').click();
                layer.close(index);
            }
        })
    }

    function folder_delete(filename,counter) {
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            // area: ['30%', '20%'], //页面百分比
            shadeClose: true,
            btn: ['删除', '取消'],
            closeBtn: 2,
            // offset: 'auto',

            title: "确认删除",
            content: '<div style="text-align: center; padding: 10px;">确认删除文件夹<strong>' + filename + '</strong>吗？</div> <div style="text-align: center;padding: 10px;">放入回收站30天后将自动删除</div>',
            yes: function (index, layero) {
                $('form#folder_delete_form_'+counter+' button').click();
                layer.close(index);
            }
        })
    }
</script>

{% endblock content %}