<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %} {% load static %}
<!-- 写入 base.html 中定义的 title -->
{% block title %} 上传文件 {% endblock title %}
<!-- 写入 base.html 中定义的 content -->
{% block content %}
<!-- 写文章表单 -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <!-- 提交文章的表单 -->
            <form method="post" action=".">
                <!-- Django中需要POST数据的地方都必须有csrf_token -->
                {% csrf_token %}
                <!-- 文章标题 -->
                <div class="form-group">
                    <!-- 标签 -->
                    <label for="title">标题</label>
                    <!-- 文本框 -->
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <!-- 文章正文 -->
                <div class="form-group">
                    <label for="content">文件描述</label>
                    <!-- 文本区域 -->
                    <textarea type="text" class="form-control" id="content" name="content" rows="4"></textarea>
                </div>

                <div style="width: 800px;">
                    <!-- <label for="body">选择文件</label> -->
                    <input type="file" name="file" id="file" multiple class="file" />
                </div>

                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary mt-4">完成</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#file').fileinput({
        language: 'zh',     //设置语言
        dropZoneEnabled: true,      //是否显示拖拽区域
        dropZoneTitle: "单击以选择文件 或 将文件拖动至这这里\n最大支持 2048 kb 的文件",    //拖拽区域显示文字
        uploadUrl: 'file/imgSave',  //上传路径
        allowedFileExtensions: ['jpg', 'png', 'gif', 'jpeg'],   //指定上传文件类型
        maxFileSize: 0,
        maxFileSize: 2048,   //上传文件最大值，单位kb
        uploadAsync: true,  //异步上传
        maxFileCount: 2    //上传文件最大个数。
    }).on("fileuploaded", function (event, data) { //异步上传成功后回调
        console.log(data);		//data为返回的数据
    });
</script>

{% endblock content %}